<div class= brank></div>

<div class="category-link">
  <% @category_names.each do |category_name| %>
    <div category-link_menu>
      <%= link_to category_name, photographs_path(category_name: category_name), class: "category_name" %>
    </div>
  <% end %>
</div>


<%= render 'category_id'%>

