<div class= brank></div>

<div class="category-link">
  <% @categories.each do |category| %>
    <div class="category-link_menu">
      <%= link_to category.name, photographs_path(category_id: category.id), class: "category_name" %>
    </div>
  <% end %>
</div>


<%= render 'category_id'%>

