
<div class="top_info">
  <div class="blank"></div>
  <div class= "Top">
    <div class="first-view">
        <%= image_tag "TOP画像 (2).jpg" , class:"top-pic" %>
    </div>
  </div>
      <div class="top-title">
        <div class="title"><h1>Photographs#index<span class="material-icons md-48">add_a_photo</span></h1>
        </div>
      </div>
</div>
