@import "materialize";
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
/*トップページヘッダー部分*/
.header{
  height: 15vh;
  width: 100vw;
  background-color: #c3b5d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  position: fixed;
}

.logo_icon {
  font-size: 15px; 
  text-align: center;
}
.logo{
  height: 40%;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
}
.title{
  font-size: 48px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: contents;
}

.blank{
  height: 60px;
  width: auto;
}

.textarea{
  border-radius: none;
  height: 100%;
}

.side-menu{
  width: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  }
.side-menu_btn{
  margin-right: 10px;
  height: auto;
}

  /*ログイン・新規登録・ログアウトボタン*/
btn {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.submit_btn{
margin: 35px;
}

a.btn-border {
  color: #000;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}
