@import "materialize";
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.header{
  height: 40%;
  width: 100%;
  background-color: rgba(206, 22, 102, 0.651);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-icons.md-48 { font-size: 48px; }
.Top{

}


.top-title{
  background-color: rgba(206, 22, 102, 0.305);
}
.title{
  font-size: 48px;
}

.blank{
  height: 60px;
  width: auto;
}

